* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
}

header {
    background-color: #001c57;
    color: white;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin-bottom: 10px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}

nav ul li a:hover {
    text-decoration: underline;
}

section {
    margin: 40px auto;
    padding: 20px;
    max-width: 800px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-bottom: 20px;
    font-size: 2em;
    text-align: center;
}

footer {
    text-align: center;
    margin-top: 40px;
    padding: 20px;
    background-color: #001c57;
    color: white;
}

#portrait {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    max-width: 100%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

#running {
    display: block;
    margin-left: auto;
    margin-right: 10px;
    width: 20%;
    max-width: 75%;
    height: auto;
}

p {
    text-align: center;
    font-size: 15px;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

.fa:hover {
    opacity: 0.7;
}

.fa-linkedin {
    color: white;
}

/* Container for the text */
.text-link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none; /* Remove underline from link */
    color: black; /* Set default text color */
    font-size: 150px; /* Adjust font size as needed */
    cursor: pointer; /* Add pointer cursor on hover */
}

/* Hide hover text initially */
.text-link .hover-text {
    display: none;
}

/* Show hover text and hide base text on hover */
.text-link:hover .base-text {
    display: none;
}

.text-link:hover .hover-text {
    display: inline;
}
